.poll_container {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .poll_question {
    font-weight: 700;
  }

  .poll_type {
    color: var(--blue-gray);
  }

  &.own_poll {
    .poll_type {
      color: var(--green-deep);
    }
  }

  .poll_body {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .poll_answer_options_list {
      display: flex;
      flex-direction: column;
      gap: 1em;

      .poll_answer_option {
        display: flex;

        .poll_answer_option_checkbox_container {
          width: 2.5em;

          .poll_answer_option_checkbox {
            cursor: pointer;
          }

          .poll_answer_option_checkbox_percentage {
            font-weight: 500;
            font-size: 0.9em;
          }
        }

        .poll_answer_option_text_container {
          flex: 1;

          .poll_answer_option_text {
            font-weight: 500;
          }
        }
      }
    }

    .poll_button_container {
      display: flex;
      justify-content: center;
      height: 2em;
    }
  }
}
