/* TOP */
.top_bar {
    background-color: var(--white);
    height: var(--chat_bar_height);
    border-bottom: var(--border);
}

/* EMOJI */
.emoji_blocks_list {
    overflow-y: scroll;
    overflow-x: hidden;
    flex: 0 0 auto;
}

.emoji_blocks_list_item {
    background-color: var(--white)
}

.emoji_block_title {
    color: var(--gray);
    width: 100%;
    text-align: left;
    margin: 0 1em;
}

.emoji_list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 0 0.5em;
}

.emoji_list_item {
    padding: 0.5em;
    font-size: 1.2em;
    background-color: var(--white);
}

.emoji_list_item:hover {
    cursor: pointer;
    background-color: var(--gray-super-light);
}
