.avatar_wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
}

.avatar {
  background-color: var(--green);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.avatar_text {
  color: var(--white);
  font-weight: 600;
  font-size: 1.2em;
}
