.create_poll_form_wrapper {
  $gray_text: #b8bccb;
  $blue_text: #1976d2;

  .create_poll_form {
    display: flex;
    flex-direction: column;
    background-color: var(--gray_light);
    gap: 1em;

    .create_poll_section {
      display: flex;
      flex-direction: column;
      padding: 0.8em 1.1em;
      background-color: var(--white);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);

      &:last-child {
        box-shadow: none;
      }

      .create_poll_label {
        color: $blue_text;
        font-size: 0.9em;
        font-weight: 600;
      }

      .create_poll_input {
        height: 1.8em;
        padding: 1em 0;
        border: none;
        font-size: 0.9em;
        flex: 1;

        &:focus {
          outline: none;
        }
      }
    }

    .poll_options_list {
      display: flex;
      flex-direction: column;
    }

    .options_limit_message {
      font-size: 0.9em;
      color: var(--gray_darker);
      padding: 0 1.1em;
    }
  }

  .create_poll_modal_buttons {
    display: flex;
    justify-content: end;
    padding: 0 1.1em 0.8em;
    gap: 0.3rem;

    .create_poll_modal_button {
      text-transform: none;
      padding: 0.3em 0.9em;

      &:hover {
        background-color: var(--blue_lighter);
      }
    }
  }
}
