* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
}

:root {
  /* App */
  --light-blue-gray: #e1e9f5;
  --blue-gray: #bac8db;
  --white: #fff;
  --blue: #52abff;
  --blue-darker: #2f83d4;
  --chat_bar_height: 3.3em;
  --transition: all 0.2s ease;
  /* Messages */
  --message-bg: var(--light-blue-gray);
  --green-light: #f0ffe3;
  --green-deep: #85c940;
  /* Chat List */
  --blue-light: #d9ecff;
  --gray-super-light: #f0f0f0;
  --gray: #b5b3b0;
  --yellow: #ff9500;
  --green: #66ff63;
  --border: 0.05em solid var(--light-blue-gray);
  /* Modals */
  --gray-dark: #525252;
  --black: #000;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--light-blue-gray);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex: 4 0 auto;
}

.chats_container {
  /*background-color: var(--gray-super-light);*/
  background-color: var(--white);
  width: calc(16em + 3vw);
}

.main_chat_media_container {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex: 2 0 auto;
}

.main_section {
  height: 100%;
}

.main_chat_placeholder {
  flex: 1 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat_wallpaper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.main_chat_placeholder_message {
  background-color: rgba(47, 47, 47, 0.26);
  color: var(--white);
  padding: 0.15em 0.8em 0.3em 0.8em;
  border-radius: 0.9em;
  font-size: 0.91em;
  font-weight: 600;
}

.reaction-media-pane {
  background-color: var(--blue-gray);
  width: calc(16em + 3vw);
  justify-self: flex-end;
  transition: var(--transition);
}

.error_button {
  --btn-width: 5em;
  position: fixed;
  top: 0;
  left: calc(calc(100% - var(--btn-width)) / 2);
  z-index: 2;
}

.error_button:hover {
  cursor: pointer;
}

.top_bar {
  background-color: var(--white);
  height: var(--chat_bar_height);
  border-bottom: var(--border);
}

@media screen and (max-width: 1050px) {
  .reaction-media-pane {
    /* width: 0;
        transition: var(--transition); */
  }

  .chats_container {
    transition: var(--transition);
  }
}

@media screen and (max-width: 700px) {
  .chats_container.main_chat_active {
    width: 4.5em;
    transition: var(--transition);
  }
}

@media screen and (max-width: 450px) {
  .main_chat_placeholder.main_section {
    width: 0;
    flex: 0 1 auto;
    transition: var(--transition);
    overflow: hidden;
  }

  .chats_container {
    width: 100%;
  }

  .chats_container.main_chat_active {
    background-color: var(--gray-super-light);
    width: 0;
    overflow: hidden;
    transition: var(--transition);
  }

  body {
    font-size: 92%;
  }
}

@media screen and (max-width: 350px) {
}
