:root {
    --chat-height: 3.8em;
    --avatar-height: 3.4em;
}

.chats_container {
    background-color: var(--white);
    border-right: var(--border);
}

.chat_list {
    height: fit-content;
}

.chat_list_item {
    position: relative;
    height: var(--chat-height);
    border-bottom: var(--border);
}

.chat_item_button {
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--white);
}

.chat_item_button:hover {
    cursor: pointer;
    background-color: var(--gray-super-light);
}

.chat_item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}


/* AVATAR */
.chat_avatar_wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
}

.chat_avatar {
    height: var(--avatar-height);
    width: var(--avatar-height);
    background-color: var(--yellow);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.online::before {
    --width: 0.6em;
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--green);
    width: var(--width);
    height: var(--width);
    border-radius: 50%;
    border: 0.2em solid var(--white);
}

.chat_item_button:hover .online::before {
    border: 0.2em solid var(--gray-super-light);
}

.chat_avatar_text {
    color: var(--white);
    font-weight: 600;
    font-size: 1.2em;
}

.chat_body {
    max-width: 100%;
    text-align: left;
    flex-grow: 1;
    display: grid;
    grid-template-rows: 5fr 4fr;
}

.chat_body_upper,
.chat_body_lower {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: stretch;
}

.hide_overflow {
    overflow: hidden;
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-start;
}

.chat_title_container {
    font-weight: 600;
    font-size: 1.1em;
    align-items: flex-end;
    padding-bottom: 0.4em;
}

.chat_last_message {
    padding-top: 0.12em;
    padding-right: 0.1em;
}

.grey_text {
    color: var(--gray)
}

.text_ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info_container {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    padding: 0 1em 0 0.6em;
}

.chat_timestamp_container {
    align-items: flex-end;
    padding-bottom: 0.4em;
}

.chat_unread {
    color: var(--white);
    background-color: var(--green);
    font-weight: 600;
    height: 1.4em;
    padding: 0.2em 0.5em;
    border-radius: 0.7em;
}

.chat_unread.muted {
    background-color: var(--gray);
}

.chat_item_button.selected_chat {
    background-color: var(--blue);
}

.chat_item_button.selected_chat .online::before {
    background-color: var(--white);
    border: 0.2em solid var(--blue);
}

.selected_chat .grey_text,
.selected_chat .chat_title {
    color: var(--white);
}

.selected_chat .chat_unread {
    color: var(--blue);
    background-color: var(--white);
}

.selected_chat .chat_unread.muted {
    color: var(--blue);
    background-color: var(--blue-light);
}
