.edit-message-display {
  display: flex;

  position: absolute;
  width: 100%;
  background-color: white;

  --height: var(--chat_bar_height);
  height: var(--height);
  top: calc(-1 * var(--height));
}

.edit-message-title {
  color: var(--blue-darker);
  font-weight: 600;
  font-size: 0.9rem;
}

.edit-message-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edit-message-icon {
  color: var(--blue);
  background-color: var(--white);
  transform: scale(1.1);
}
