
.chat_container {
    position: relative;
}

/* TOP BAR */
.chat_top_bar {
    background-color: var(--white);
    height: var(--chat_bar_height);
    border: var(--border);
    border-top: none;
    display: flex;
    flex-direction: row;
}

.chat_top_bar_title_container {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 0.5em;
}

.chat_top_bar_title {
    font-size: 0.9em;
    font-weight: 600;
}

.chat_top_bar_separator {
    flex: 5 1 auto;
}

.chat_top_bar_members {
    font-size: 0.8em;
    color: var(--gray);
}

/* INPUT FORM */
.chat_input_container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--chat_bar_height);
    background-color: var(--white);
    border: var(--border);
    border-bottom: none;
}

.chat_input_form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.input_icon_container {
    height: var(--chat_bar_height);
    width: var(--chat_bar_height);
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_icon_container:hover {
    cursor: pointer;
}

.chat_input {
    height: 1.8em;
    width: 60%;
    padding: 1em;
    border: none;
    font-size: 1em;
    flex: 2 1 auto;
}

.chat_input:focus {
    outline: none;
}


/* ICONS */
.chat_send_button {
    color: var(--white);
    border: none;
    background-color: var(--white);
}

.chat_send_button:hover {
    cursor: pointer;
}

.chat_send_icon {
    color: var(--blue);
    background-color: var(--white);
    transform: scale(2);
}

.main_chat_icon {
    transform: scale(1.5);
    color: var(--gray);
}

.main_chat_icon_top {
    transform: scale(1.1);
    color: var(--gray);
}

.add_media {
    transform: rotate(180deg) scale(1.5);
}

@media screen and (max-width: 768px) {

}
