.poll_message_item {
  display: flex;
  flex-direction: column;
  min-width: 18em;
  max-width: 26em;
  margin: 0.2em 1em;
  padding: 0.7em;
  background-color: var(--white);
  border-radius: 0.5em;
  min-height: 1.5em;
  position: relative;

  .message_author {
    text-align: left;
    color: var(--blue);
    font-weight: 600;
    font-size: 0.9em;
  }

  .message_text {
    overflow-wrap: break-word;
    font-size: 0.9em;
  }

  .message_img {
    max-width: 15em;
  }

  .message_info {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 5px;
    float: right;
    color: var(--blue-gray);
    font-size: 0.8em;
    font-weight: 500;
    margin: 0.5em 0 0 0.5em;

    position: absolute;
    bottom: 0.7em;
    right: 0.7em;
  }

  &.own_message {
    background-color: var(--green-light);

    .message_info {
      color: var(--green-deep);
    }
  }
}
