.poll_results_list {
  display: flex;
  flex-direction: column;

  .poll_result_option {
    display: flex;
    flex-direction: column;

    .poll_result_option_header {
      background-color: var(--gray_light);
      padding: 0.8em 1.1em;
      font-size: 0.9em;
      color: var(--gray_darker);

      display: flex;
      justify-content: space-between;

      overflow-wrap: break-word;

      --vote_count_width: 4em;
      --vote_count_gap: 1em;

      .answer_text {
        width: calc(100% - var(--vote_count_width) - var(--vote_count_gap));
      }

      .votes_count {
        display: flex;
        justify-content: end;
        width: var(--vote_count_width);
      }
    }

    .poll_result_option_votes {
      display: flex;
      flex-direction: column;

      .poll_result_option_vote {
        display: flex;
        align-items: center;
        gap: 0.8em;

        padding: 0.8em 1.1em;

        .username {
          font-weight: 600;
        }
      }
    }
  }
}
