.message_avatar_wrapper {
  align-self: flex-end;
  width: 3em;
  height: 3em;
  padding: 0;
  margin-bottom: 0.2em;
}

.message_avatar {
  width: 2.3em;
  height: 2.3em;
  align-self: flex-end;
}

.message_avatar_text {
  font-size: 1em;
}
