.main_chat_container {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 4 0 auto;
}

/* ICONS */
.main_chat_send_button {
  color: var(--white);
  border: none;
  background-color: var(--white);
}

.main_chat_send_button:hover {
  cursor: pointer;
}

.main_chat_send_icon {
  color: var(--blue);
  background-color: var(--white);
  transform: scale(2);
}

.main_chat_icon {
  transform: scale(1.5);
  color: var(--gray);
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 450px) {
}
