.main_chat_placeholder {
  flex: 1 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .main_chat_placeholder_message {
    background-color: rgba(47, 47, 47, 0.26);
    color: var(--white);
    padding: 0.15em 0.8em 0.3em 0.8em;
    border-radius: 0.9em;
    font-size: 0.91em;
    font-weight: 600;
  }
}
